<a
  href="{{link}}"
  target="_blank"
  class="advantages__item advantages__item_color_{{hover-color}} text text_color_{{main-color}}
  text_type_common hover_transition_xs {{theme-controller}}" style="border-color: {{line-color}}"
>
  {{text}}
</a>