<div
  class="work-item work-item_type_common responsive-height"
  data-header-color="{{data-header-color}}"
  data-work-filter="{{data-work-filter}}"
>
  <div class="work-item__img" style="background-image: url('{{img}}')"></div>
  <div class="work-item__overlay"></div>
  <a href="{{url-1}}" class="work-item__touchable-link"></a>
  <h2
    class="work-item__title text text_color_{{title-color}} text_type_desc work-item__text-opacity"
  >
    {{title}}
  </h2>
  <div class="work-item__colors">
    <div class="work-item__color" style="background-color: {{color-1}}"></div>
    <div class="work-item__color" style="background-color: {{color-2}}"></div>
    <div class="work-item__color" style="background-color: {{color-3}}"></div>
  </div>
  <a
    target="_blank"
    href="{{url-2}}"
    class="work-item__button button button_type_main button_color_white text text_type_h1 text_color_white text_transform_uppercase"
  >
    Смотреть
  </a>
  <div class="text text_color_gray text_type_desc work-item__desc">
    {{year}}
    <br />
    {{tech-category}}
  </div>
</div>