<footer class="footer main-padding" data-header-color="black">
  <div 
    class="advantages advantages_links
           hover_color_{{line-color}}
           text_transform_uppercase" 
    style="border-color: {{line-color}}">
    {{> footer-link
        link=""
        text="Facebook"
        line-color="black"
        hover-color="red"
        main-color="black"
    }}
    {{> footer-link
        link=""
        text="Instagram"
        line-color="black"
        hover-color="red"
        main-color="black"
    }}
    {{> footer-link
        link="https://www.behance.net/vasiliykiselev"
        text="Behance"
        line-color="black"
        hover-color="red"
        main-color="black"
    }}
    {{> footer-link
        link="https://t.me/leroyJS"
        text="Telegram"
        line-color="black"
        hover-color="red"
        main-color="black"
    }}
  </div>
  <div class="footer__buttons-wrapper">
    <a
      href="/write-us-eng.html"
      class="footer__button text text_color_{{main-color}} 
      text_type_h1 button button_type_main button_color_{{button-color}} 
      text_transform_uppercase hover_transition_xs"
    >
      Write us
    </a>
  </div>
  <div class="footer__sub-info" style="color:{{main-color}}">
    <div class="half footer__left-column">
      {{> footer-time-eng
          main-color="black"
          second-color="gray"
      }}
      <a
        href=""
        class="footer__sub-links footer__sub-links_mobile half
               text_transform_uppercase hover_color_{{hover-color}}
               hover_transition_xs"
      >
        <span class="text text_color_{{main-color}} text_type_h2">
          privacy policy
        </span>
        <br />
        <span class="text text_color_{{main-color}} text_type_h2">
        </span>
      </a>
    </div>
    <div class="half footer__right-column">
      <div class="footer__contacts half text_transform_uppercase">
        <a
          href="mailto:hello@deviant-studio.com"
          class="text text_color_{{main-color}}
                 text_type_h2 hover_color_{{hover-color}}
                 hover_transition_xs"
        >
          hello@deviant-studio.com
        </a>
        <a
          href="tel:+79512700000"
          class="text text_color_{{main-color}} text_type_h2 hover_color_{{hover-color}} hover_transition_xs"
        >
          8 (951) 270 — 00 — 00
        </a>
      </div>
      <a
        href=""
        class="footer__sub-links footer__sub-links_desktop half
               text_transform_uppercase hover_color_{{hover-color}}
               hover_transition_xs"
      >
        <span class="text text_color_{{main-color}} text_type_h2">
          privacy policy
        </span>
        <span class="text text_color_{{main-color}} text_type_h2">
        </span>
      </a>
      <div class="footer__cop text text_color_gray text_type_desc {{theme-controller}}">
        ©2020 Deviant.
        <br />
        Complex digital—solutions
      </div>
    </div>
  </div>
</footer>