<footer class="footer main-padding" data-header-color="{{data-header-color}}">
  <div class="footer__sub-info">
    <div class="half footer__left-column">
      {{> footer-time
          second-color="gray"}}
      <a
        href=""
        class="footer__sub-links footer__sub-links_mobile half text_transform_uppercase hover_color_{{hover-color}} hover_transition_xs"
        >
        <span class="text text_color_{{main-color}} text_type_h2">
          Privacy policy
        </span>
        <br />
        <span class="text text_color_{{main-color}} text_type_h2">
        </span>
      </a>
    </div>
    <div class="half footer__right-column">
      <div class="footer__contacts half text_transform_uppercase">
        <a
          href="mailto:hello@deviant-studio.com"
          class="text text_color_{{main-color}}
                 text_type_h2 hover_color_{{hover-color}}
                 hover_transition_xs"
          >
          hello@deviant-studio.com
        </a>
        <a
          href="tel:+79512700000"
          class="text text_color_{{main-color}}
                 text_type_h2 hover_color_{{hover-color}}
                 hover_transition_xs"
          >
            8 (951) 270 — 00 — 00
        </a>
      </div>
      <a
        href=""
        class="footer__sub-links footer__sub-links_desktop half
               text_transform_uppercase hover_color_{{hover-color}}
               hover_transition_xs"
        >
        <span class="text text_color_{{main-color}} text_type_h2">
          Privacy policy
        </span>
        <span class="text text_color_{{main-color}} text_type_h2">  
        </span>
      </a>
      <div class="footer__cop text text_color_gray text_type_desc {{theme-controller}}">
        ©2020 Deviant.
        <br />
        Complex digital—solutions
      </div>
    </div>
  </div>
</footer>